body{
    background-color: beige;
    color: firebrick;
    position: relative;
    overflow: hidden;
    height: 100vh; 
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

#movingImage {
    position: absolute;
    width: 100px; 
    height: auto;
}
